    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Lizard</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <% if (user) { %>
              <li><a href="/about">About</a></li>
              <li><a href="/api">API Docs</a></li>
              <li><a href="/logout">Log out (<%= user.name %>)</a></li>
              <% } %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
    
        <img src="/images/lizard.png">
        <hr>

        <ul>
            <li><strong>Lizard</strong> is the WISaaS+OLAP service of <a href="http://www.nelen-schuurmans.nl/">Nelen &amp; Schuurmans</a>.</li>
            <li><strong>WISaaS</strong> stands for <em>Water Information System as a Service</em>.</li>
            <li><strong>OLAP</strong> stands for <em>Online Analytical Processing</em> (also known as Big Data).</li>
        </ul>


      	<hr>
      	<h2>Goal</h2>
      	<hr>
        <p>The goal of Lizard is to <strong><em>distill information</em></strong> out of data and <strong><em>visualize</em></strong> it in such a way that it supports <strong><em>high level decision making</em></strong>.</p>

      	<hr>
      	<h2>Concepts</h2>
      	<hr>

        <h3>Workspaces</h3>
        <p>The core of Lizard is the concept of Workspaces. A Workspace is a dynamic composition of different types of data.
        Data can be spatial, time-based, quantitative and/or ordinal, and can be visualized on maps and in graphs.</p>

        <h3>Apps</h3>
        <p>Specific functionality is offered through 'apps'. The Map app is included by default. Others apps are:</p>
        <p>
        <ul>
            <li>Measures</li>
            <li>RainApp</li>
            <li>Flooding</li>
            <li>Keringen</li>
            <li>Oevers</li>
            <li>Riolering</li>
        </ul>
        </p>

        <hr>
        <h2>Features (all customers)</h2>
        <hr>
        <p>
        <ul>
            <li>A realtime dashboard (using WebSockets if available)</li>
            <li>User management</li>
            <li>Branding and customization (including custom domains)</li>
            <li><strike>Branded CMS with a simple blog, calendar, DCMI compliant bibliography and file upload facility</strike></li>
            <li>DCMI compliant and searchable bibliography</li>
            <li>Large file importing (think shapefiles) using Dropbox</li>
            <li><a href="https://docs.google.com/">Google Spreadsheet</a> integration</li>
            <li><a href="http://www.google.com/fusiontables/Home/">Fusion Tables</a> integration</li>
            <li><a href="https://developers.google.com/bigquery/">BigQuery</a> integration</li>
            <li>FEWS integration</li>
            <li>Sobek integration</li>
            <li>PDF reporting (with static maps and graphs)</li>
            <li>Lidar Pointcloud visualization <span class="label label-info">WebGL</span></li>
            <li>Interactive graphs (timeseries, scatterplots, et cetera - using D3) <span class="label label-info">IE9+</span></li>
            <li>Interactive maps (Leaflet, Tile5(?), Polymaps, OpenLayers) with legends and overlays</li>
            <li>Embedding of maps with embedcodes</li>
            <li>Split-screen synchronized comparison maps</li>
            <li>Mapnik2 and Carto CSS styling support</li>
            <li>Custom WMS / WFS support</li>
            <li>Realtime Search (based on Lucene)</li>
            <li>OpenStreetMap / Bing / Nokia / Google Maps integration</li>
            <li>Full API for external developers</li>
            <li>Responsive design all the way down to mobile</li>
            <li>Deferred authentication using LinkedIn, Facebook, Google, Dropbox and many more</li>
            <li>Proxying API to several 3rd party services</li>
        </ul>
        </p>
        
